<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.adeilson.flutte_mapas_geolocalizacao.flutter_mapas_geolocalizacao">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
